{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Цветочный магазин{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    
</head>
<body>
{% include 'navigationbar.html' %}
{% if messages %}
  <div class="text-center msg fade show" role="alert">{{ message }}</div>
    
{% endif %}

{% block content %}

{% endblock content %}

{% load contact_tags %}

<!-- Back to top button -->


<!-- Footer -->
<footer class="bg text-center text-dark" style="background-color: #e1baf5;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-dark btn-floating m-1"  href="https://github.com/Alinochka07/new_project" target="_blank"  role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="mb-4">

        {% contact_form %}
        

      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Цветочный онлайн магазин Flowers - свежие и оригинально оформленные цветы для наших дорогих клиентов. 
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Виды цветов</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/bukety-iz-roz/" class="text-dark">Букеты из роз</a>
              </li>
              <li>
                <a href="/drugie-vidy-cvetov/" class="text-dark">Другие виды цветов</a>
              </li>
              <!-- <li>
                <a href="#!" class="text-dark">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 4</a>
              </li> -->
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Букеты для торжеств</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/101-roza/" class="text-dark">101 роза</a>
              </li>
              <li>
                <a href="/svadebnye-bukety/" class="text-dark">Свадебные букеты</a>
              </li>
              <li>
                <a href="/bukety-v-korzinah/" class="text-dark">Букеты в корзинах</a>
              </li>
              <!-- <li>
                <a href="#!" class="text-dark">Link 4</a>
              </li> -->
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Комнатные цветы и растения</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/cvety-v-gorshkah/" class="text-dark">Цветы в горшках</a>
              </li>
              <li>
                <a href="/komnatnye-rasteniya/" class="text-dark">Декоративные растения</a>
              </li>
              <!-- <li>
                <a href="#!" class="text-dark">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Link 4</a>
              </li> -->
            </ul>
          </div>
          <!--Grid column-->
  
          
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" href="#">Python-1, 50k Programmers</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <script src="//code-ya.jivosite.com/widget/9SFxw11Zpj" async></script>
  <!-- GetButton.io widget -->
<script type="text/javascript">
  (function () {
      var options = {
          whatsapp: "+818051713521", // WhatsApp number
          call: "+818051713521", // Call phone number
          call_to_action: "Отправьте нам сообщение", // Call to action
          button_color: "#FF318E", // Color of button
          position: "left", // Position may be 'right' or 'left'
          order: "whatsapp,call", // Order of buttons
          pre_filled_message: "Здравствуйте. Какой букет вам собрать?", // WhatsApp pre-filled message
      };
      var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();
</script>
<!-- /GetButton.io widget -->
</body>
</html>