{% extends 'base.html' %}

{% block content %}

<div class="container">

<h3>Ищете где купить цветы в Бишкеке или заказать цветы онлайн с доставкой, находясь в другом городе?</h3><br>
<p><strong>В цветочном салоне Flowers всегда свежие цветы.<br>
Оригинальные цветочные композиции и букеты по самым выгодным ценам!</strong><p>
              
 

Цветочный салон "Flowers" - это возможность заказать букет или композицию с доставкой в любую точку Бишкекав удобное для Вас время. Цены на букеты и композиции приятно Вас порадуют!
Розы в Бишкеке ещё никогда не были такими доступными. Убедитесь!<br>
                
                 
                
Доставка цветов по Бишкеку с 09:00 до 00:00. Предварительный заказ обязателен! <br>
                
                 
                
На сайте вы можете узнать, как оформить свой заказ, как купить цветы в Бишкеке, как заказать оформление торжества и многое другое.</p>
<strong>Как мы работаем:</strong>
<ul>
    <li>КРУГЛОСУТОЧНО</li>
    <li>У нас всегда свежие цветы</li>
    <li>Удобная доставка</li>
    <li>Доступные цены</li>
    <li>Приветливый персонал, флористы, умеющие творить чудеса</li>
</ul>


Поставка цветов каждый день.<br>
Доставка в срок от 1 часа с 09:00 до 00:00<br><br>
<strong>Наши контакты:</strong><br>
Номер телефона: (0555) 000 - 000<br>
Электронный адрес: flowers@flowers.kg
</div>
                
<br>
<br>
<br>           


{% endblock content %}
