{% extends 'base.html' %}
{% block content %}


<div class="container py-5">

    <h4 style="text-align: center;">Регистрация аккаунта</h4>
    <br>

    <form action="{% url 'account:register' %}" method="post" class="">

        {% csrf_token %}
        {% include 'forms.html' with button_text='Регистрация' %}
        {% if has_error %}

            <p class="form-error">Неверное имя пользователя или пароль</p>

        {% endif %}
        <br>
        

    </form>
    

<br>
</div>

{% endblock content %}
    
