{% load crispy_forms_tags %}

<div class="justify-content-center">
    <h5 class="footer-title text-uppercase editContent mb-lg-4 mb-3">Подпишитесь на нашу рассылку</h5>

    <!-- <p class="editContent">Добро пожаловать на сайт. Целых три месяца акция скидка до 30%</p> -->

    <form action="{% url 'contact:contact' %}" method="post" class="w3layots-newsletter">
        {% csrf_token %}
        {{ contact_form|crispy }}
        <button class="btn btn-success">
            <span class="" aria-hidden="true">Отправить</span>
        </button>

    </form>
</div>



