{% extends 'base.html' %}
{% load static %}

{% block content %}


<style>
  .product-reviews {
  margin-bottom: 30px;
  }
  .product-rating {
    display: flexbox;
    text-align: center;
  }

  .product-rating>i {
    color: #FFB656;
  }

  table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  .buy {
    justify-content: center;
    display: flex;
  }
  a:link { text-decoration: none; }
</style>

<!-- Page Content -->
<div class="container">

  <div class="row">

    
    <!-- /.col-lg-3 -->

    <div class="col-lg-3 mt-5">
      
      <div class="list-group">
        {% if not category %}
        
         {% endif %}
         <a href="{% url 'mainapp:product-list' %}"><h5 class="text-uppercase" style="text-align: left;">Все категории</h5></a>
        {% for c in categories %}
        <a href="{{ c.get_absolute_url }}" class="list-group-item">{{ c.name }}</a>
        {% endfor %}

      </div>

    </div>

    <div class="col-lg-9">

      {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
      {% endif %}


            <br>
            <br>
            <br>
           
      <div class="row">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
            <div class="card-body">

              
              <h5 class="card-name" style="text-align: center;">
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
              </h5>
              <h6 style="text-align: center;">{{ product.price }} Сом</h6>
            
              <!--rating-->
              <div class="product-rating">
                <i class="fa fa-star{% if product.averagereview < 1%}-o empty{% endif%}"></i>
                <i class="fa fa-star{% if product.averagereview < 2%}-o empty{% endif%}"></i>
                <i class="fa fa-star{% if product.averagereview < 3%}-o empty{% endif%}"></i>
                <i class="fa fa-star{% if product.averagereview < 4%}-o empty{% endif%}"></i>
                <i class="fa fa-star{% if product.averagereview < 5%}-o empty{% endif%}"></i>
            
              </div>
              <br>
              <div class="buy">
                <a href="{{ product.get_absolute_url }}">
                <button class="btn btn-success">Перейти для заказа</button>
              </a>
              </div>
              
          
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



  

<br>
<br>

{% endblock content %}