{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Goods {% endif %}
{% endblock %}

{% block content %}


<div class="container">
    <table>
        <tr>
            <th></th>
            <th></th>  
        </tr>
        <tr>
              <!--Category side-->
            <td style="width: 300px; vertical-align:top;">
                <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:100%; padding-left: 20px;">
      
                    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                      <div class="sidebar-module">
                        <h3>Категории товаров</h3>
                        <ol class="list-unstyled" style="width: max-content;">
                          <li {% if not category %} class="active"{% endif %}><a href="{% url 'mainapp:goods-list' %}"><h5 style="color: rgb(20, 110, 146); font-size:18px; font-weight:bold;">Все категории</h5></a></li>
                        {% for c in categories %}
                    
                          <li {% if category.slug == c.slug %} class="active"{% endif %}>
                              <a href="{{ c.get_absolute_url }}"><h5 style="color: rgb(20, 110, 146); font-size:18px; font-weight:bold;">{{ c.name }}</h5></a>
                          </li>
                        {% endfor %}
                        </ol>
                      </div><!-- /.sidebar-module -->
                    </div><!-- /.blog-sidebar -->
                  
                  </div><!-- /w3-sidebar w3-light-grey w3-bar-block -->
            </td>
            <td>
                <!--Section: Block Content-->
                <section class="mb-5">

                    <div class="row">
                      <div class="col-md-6 mb-4 mb-md-0">
                  
                        <div id="mdb-lightbox-ui"></div>
                  
                        <div class="mdb-lightbox">
                  
                          <div class="row product-gallery mx-1">
                  
                            <div class="col-12 mb-0">
                              <figure class="view overlay rounded z-depth-1 main-img">
                            
                                  <img src="{% if good.image %} {{ good.image.url }} {% else %} {% static 'media/nophoto.jpg' %} {% endif %}"
                                    class="img-fluid z-depth-1">
                                </a>
                              </figure>
                              
                            </div>
                            
                          </div>
                  
                        </div>
                  
                      </div>
                      <div class="col-md-6">
                  
                        <h2>{{ good.name }}</h2>
                        <h6><a href="{{ good.category.get_absolute_url }}">Категория: {{ good.category }}</a></h6>
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p><span class="mr-1" style="color: red;"><strong>Цена: {{ good.price }} Сом</strong></span></p>
                        <p class="pt-1">{{ good.description|safe|linebreaksbr }}</p>
                       
                        <hr>
                        <table>
                            
                                <tr>
                                    <form action="{% url "cart:add-to-cart" good.id %}" method="post">
                                        {% csrf_token %}
                                        {{ cart_good_form }}
                                        
                                    <input type="submit" value="Добавить в корзину" class="btn btn-primary">
                                    </form>
                                </tr>
                      
                        </table>
                        
                       
                      </div>
                    </div>
                  
                  </section> <!--Section: Block Content-->
            </td>
        </tr>
        
    </table>
  
    <!-- Classic tabs -->
<div class="classic-tabs border rounded px-4 pt-1">

    <ul class="nav tabs-primary nav-justified" id="advancedTab" role="tablist">
      
      <li class="nav-item">
        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false"><h4>Отзывы на товар</h4></a>
      </li>
    </ul>
    <div class="tab-content" id="advancedTabContent">
      
      
      <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
        <h5><span>5</span> отзывов на товар: <span>{{ good.name }}</span></h5>
        <div class="media mt-3 mb-4">
          <img class="d-flex mr-3 z-depth-1" src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg" width="62" alt="Generic placeholder image">
          <div class="media-body">
            <div class="d-sm-flex justify-content-between">
              <p class="mt-1 mb-2">
                <strong>ФИО клиента</strong>
                <span>– </span><span>Дата отзыва: </span>
              </p>
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            </div>
            <p class="mb-0">Nice one, love it!</p>
          </div>
        </div>
        <hr>
        <h5 class="mt-4">Оставьте свой отзыв о товаре</h5>
        <p>Ваша электронная почта не будет публиковаться</p>
        <div class="my-3">
          <ul class="rating mb-0">
            <li>
              <a href="#!">
                <i class="fas fa-star fa-sm text-primary"></i>
              </a>
            </li>
            <li>
              <a href="#!">
                <i class="fas fa-star fa-sm text-primary"></i>
              </a>
            </li>
            <li>
              <a href="#!">
                <i class="fas fa-star fa-sm text-primary"></i>
              </a>
            </li>
            <li>
              <a href="#!">
                <i class="fas fa-star fa-sm text-primary"></i>
              </a>
            </li>
            <li>
              <a href="#!">
                <i class="far fa-star fa-sm text-primary"></i>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <!-- Your review -->
          <div class="md-form md-outline">
            
            <label for="form76">Текст Вашего отзыва</label>
            <textarea id="form76" class="md-textarea form-control pr-6" rows="4"></textarea>
          </div>
          <!-- Name -->
          <div class="md-form md-outline">
            
            <label for="form75">Имя</label>
            <input type="text" id="form75" class="form-control pr-6">
          </div>
          <!-- Email -->
          <div class="md-form md-outline">
            <label for="form77">Email</label>
            <input type="email" id="form77" class="form-control pr-6">
          </div>
          <div class="text-right pb-2">
            <button type="button" class="btn btn-primary">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <!-- Classic tabs -->
    
<br>
<br>
<br>
  
</div>




{% endblock %}