{% extends 'base.html' %}
{% load static %}

{% block content %}

<table>
  <tr>
    <td style="width: 300px; vertical-align:top;">


      <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:100%; padding-left: 20px;">

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h3>Категории товаров</h3>
            <ol class="list-unstyled" style="width: max-content;">
              <li {% if not category %} class="active"{% endif %}><a href="{% url 'mainapp:goods_list' %}"><h5 style="color: rgb(20, 110, 146); font-size:18px; font-weight:bold;">Все категории</h5></a></li>
            {% for cat in categories %}
        
              <li {% if category.slug == cat.slug %} class="active"{% endif %}>
                  <a href="{{ cat.get_absolute_url }}"><h5 style="color: rgb(20, 110, 146); font-size:18px; font-weight:bold;">{{ cat.name }}</h5></a>
              </li>
            {% endfor %}
            </ol>
          </div><!-- /.sidebar-module -->
        </div><!-- /.blog-sidebar -->
      
      </div><!-- /w3-sidebar w3-light-grey w3-bar-block -->
    </td>
  
<!-- Second table row category products -->

    <td>
      <div class="container" style="text-align: center; width: 100%; justify-content: center;">

        <!-- <h3 style="text-align: center;">Букеты цветов</h3> -->

          <div class="row">
              <div class="bouquet-list d-flex justify-content-around flex-wrap">
              
              {% for category in categories %}
                {% for good in goods %}
             
                <div class="bouquet p-2">
                  <div class="image">
                      {% if good.image %}
                          <a href="{{ good.get_absolute_url }}"><img src="{{ good.image.url }}" width="250"/></a>
                      {% else %}
                          <a href="{{ good.get_absolute_url }}"><img src="{% static 'img/nophoto.jpg' %}" width="250"/></a>
                      {% endif %}
                  </div>
                    <h4 style="font-size: 18px; font-weight: bold; color: rgb(20, 110, 146);">{{ good.name }}</h4></a>
                    <p style="color: rgb(38, 138, 83); font-size: smaller; font-weight: bolder;">Цена: {{ good.price }} Сом</p>
                  <div class="stars">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                  </div>
              </div> <!--bouquet p-2-->
            
                {% endfor %}
              {% endfor %}
             
              

              
              </div> <!--bouquet-list d-flex justify-content-around flex-wrap-->
          </div> <!--row-->
        </div> <!--container-->
    </td>
  </tr>
</table>



   <!-- <div class="container-fluid">
      <div class="row" style="margin-top: 6%">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
              <div class="row">
                  {% for product in products %}
                      <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                </h3>
                                <p class="text-center"> {{ product.price }}</p>
                            </div>
                        </div>
                      </div>
                  {% endfor %}
              </div>


          </div>

        </div>-->

        <!-- <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>Categories</h4>
            <ol class="list-unstyled">
              <li {% if not category %} class="active"{% endif %}><a href="{% url 'shop:product_list' %}">All</a></li>
            {% for c in categories %}

              <li {% if category.slug == c.slug %} class="active"{% endif %}>
                  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>
            {% endfor %}
            </ol>
          </div>
        </div> -->

      <!-- </div>

    </div>  -->
{% endblock content %}