{% extends 'base.html' %}
{% load static %}
{% block title %}
    Ваша корзина | Заявка на покупку
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-6">
                <p class="text-uppercase">Заполните ниже заявку для заказа</p>
                <form action="." method="post">
                    {% csrf_token %}
                    
                    {{ form.as_p }}<br>
                  
                    <input type="submit" class="btn btn-success" value="Отправить заявку">
                </form>
                <br>
            </div>
            <div class="col-md-6">
                <div class="page-header">
                    <p class="text-uppercase" style="text-align: center;">Ваш заказ</p>
                </div>
                <ul class="list-group">
                    {% for shopitem in cart %}
                        <li class="list-group-item">
                        {{ shopitem.quantity }} шт. - {{ shopitem.product.name }}, 
                        <span>сумма к оплате {{ shopitem.total_price }} сом</span>
                        </li>
                    {% endfor %}

                <li class="list-group-item active" style="background-color: #e02f2f; border: 0;">Итоговая сумма: {{ cart.get_total_price }} сом</li>
                </ul>

            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock %}