{% extends 'base.html' %}
{% load static %}
{% block title %}
    Ваша корзина
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8">
                <h3 class="page-header">Благодарим за покупку!
                </h3>
                <p>Ваш заказ успешно добавлен в заявки. <br> Номер Вашей заявки: <strong>{{ order.id }}</strong>.</p>
            </div>
            
        </div>
        <br>
        <br>
    </div>
{% endblock %}