{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
<h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3">Подписаться на рассылку</h3>

<p class="editContent">Добро пожаловать на сайт. Целых три месяца акция скидка до 30%</p>


<form action="{% url 'contact:contact' %}" method="post" class="newsletter">
    {% csrf_token %}
    {{ contact_form }}
    <button class="btn1 btn">
        <span class="fa fa-paper-plane-o" aria-hidden="true"></span>
    </button>

</form>
</div>

{% endblock content %}